# Для phpStorm
.idea

# Для Sublime Text
*.sublime-project
*.sublime-workspace
*.cache

*.jp?g
*.png
*.gif
*.svg
*.pdf
*.xls?
*.ico

# Системные папки
/backup/
/img/
images/
/temp/
/sp/
/SSL/

# Подключаемые библиотеки
/assets/

# Движок WP
*.log

PDF/
/public/*
/public/wp-content/*
!/public/wp-content/
/public/wp-content/themes/*
!/public/wp-content/themes/
/public/wp-content/themes/zilmet/*
!/public/wp-content/themes/zilmet/
!/public/wp-content/themes/zilmet/*