@media (max-width: 1199px) { /* LG */
  header {
    .phone-moscow, .header-phone {
      font-size: 22px;
    }
  }
}

@media (max-width: 991px) { /* MD */
  header {
    .phone-moscow, .header-phone {
      font-size: 22px;
    }
  }
}

@media (max-width: 767px) { /* SM */

}

@media (max-width: 543px){ /* XS */
  header {
    a.shipping {
      margin-left: 0;
    }
    .header-mail {
      margin: 0;
    }
  }
}